/target/
/.pgrx/
/pgdata-*/
/test-pgdata/
/tmp/
/log/
*.log
*.pdb
*.ilk
*.exp
*.lib
*.dll
*.exe
*.obj
*.iobj
*.ipdb
*.rlib
*.rmeta
*.profraw
*.profdata
.vs/
*.user
*.suo
*.VC.db
*.VC.VC.opendb
.idea/
.DS_Store
Thumbs.db
