/target/
/.pgrx/
/pgdata-*/
/test-pgdata/
/tmp/
/log/
/tests/pg_regress/results/
/tests/pg_regress/tmp_check/
/tests/pg_regress/log/
/tests/pg_regress/regression.diffs
/tests/pg_regress/regression.*.diffs
/tests/pg_regress/regression.out
*.log
*.pdb
*.ilk
*.exp
*.lib
*.dll
*.msi
*.wixpdb
*.wixobj
*.cab
*.so
*.dylib
*.a
*.exe
*.obj
*.iobj
*.ipdb
*.rlib
*.rmeta
*.profraw
*.profdata
*.dSYM/
.vs/
.vscode/
*.user
*.suo
*.VC.db
*.VC.VC.opendb
.idea/
.DS_Store
Thumbs.db
